<!doctype html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<%= contentOf("head") %>
	<meta name="description" content="The simplest RPC ecosystem built for right now">
	<meta name="image" content="https://remotoproject.com/static/remoto-banner-by-chris-ryer.png">
	<meta itemprop="description" content="The simplest RPC ecosystem built for right now">
	<meta itemprop="image" content="https://remotoproject.com/static/remoto-banner-by-chris-ryer.png">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="The simplest RPC ecosystem built for right now">
	<meta name="twitter:site" content="@matryer">
	<meta name="twitter:creator" content="@matryer">
	<meta name="twitter:image:src" content="https://remotoproject.com/static/remoto-banner-by-chris-ryer.png">
	<meta name="og:description" content="The simplest RPC ecosystem built for right now">
	<meta name="og:image" content="https://remotoproject.com/static/remoto-banner-by-chris-ryer.png">
	<meta name="og:url" content="https://remotoproject.com/">
	<meta name="og:site_name" content="Remoto">
	<meta name="og:locale" content="en">
	<meta name="og:type" content="website">
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' href='/static/styles.css'>
	<style>
		header {
			background: rgb(224,158,197);
			background: linear-gradient(85deg, rgba(224,158,197,1) 0%, rgba(174,134,247,1) 100%);
		}
		header .hero {
			min-height: 300px;
			background: transparent url("/static/img/remoto-4@3x.svg") 0% 100% no-repeat;
			background-size: contain;
		}
		footer {
			padding: 10px;
			padding-top: 20px;
			text-align: right;
			padding: 50px;
			font-size: 0.8em;
		}
	</style>
</head>
<body>
	<header>
		<div class='hero'></div>
	</header>
	<nav class='navbar navbar-light bg-light'>
		<div class='container'>
			<a class="navbar-brand" href="/">Remoto</a>
			<%= contentOf("navbar") %>
		</div>
	</nav>
	<div class='fluid-container'>
		<%= contentOf("body") %>
	</div>
	<footer>
		<div class='container'>
			<a href='https://github.com/machinebox/remoto'>Remoto ❤︎ open source</a>
		</div>
	</footer>
	<%= contentOf("scripts") %>
</body>
</html>
