<% contentFor("head") { %>
	<title>Remoto - The simplest RPC ecosystem</title>
<% } %>
<% contentFor("body") { %>
	<div class='container'>
		<h1><%= def.PackageName %></h1>
		<div class='row'>
			<div class='col'>
				<h2>Definition</h2>
				<pre readonly='readonly'><code><%= htmlEscape(source) %></code></pre>
			</div>
			<div class='col col-4'>
				<h2>Downloads</h2>
				<ul>
					<%= for (template) in templates { %>
						<li>
							<form method='post' action='/api/templates/<%= template.Name %>?dl=1'>
								<input type='hidden' name='definition' value="<%= htmlEscape(source) %>">
								<button><%= template.Name %></button>
							</form>
						</li>
					<% } %>
				</ul>
			</div>
		</div>
	</div>
<% } %>
<% contentFor("scripts") { %>
	
<% } %>
