<% contentFor("head") { %>
	<title>Remoto - The simplest RPC ecosystem</title>
<% } %>
<% contentFor("body") { %>
	<div class='container'>
		<p>
			<%= def.PackageName %>
		</p>
		<ul>
			<%= for (template) in templates { %>
				<li>
					<form method='post' action='/api/templates/<%= template.Name %>?dl=1'>
						<input type='hidden' name='definition' value="<%= htmlEscape(source) %>">
						<button><%= template.Name %></button>
					</form>
				</li>
			<% } %>
		</ul>
	</div>
<% } %>
<% contentFor("scripts") { %>
	
<% } %>
